__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
db.sqlite3
db_data/
.gitignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml
.dockerignore
.env.production
README.md
*.md