version: '3.8'

services:
  web:
    build: .
    command: /start.sh
    env_file:
      - .env.production
    restart: unless-stopped
    volumes:
      - ./media:/app/media
      - ./db.sqlite3:/app/db.sqlite3
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./media:/app/media
      - ./static:/app/static
    depends_on:
      - web
    networks:
      - app-network

networks:
  app-network:
    driver: bridge